<h1>Add Genres</h1>

<p>Add a Genre here:</p>

<form action="/all_genres" method="post">
  <label for="name">Genre's name:</label>
  <input id="name" name="name" type="text">
  <button type="submit">Add Genre</button>
</form>
